body{
    font-size: 16px;
    line-height: 1.37;
    color: #ffffff;
    font-family: "Roboto", Arial, sans-serif;
    background-color: #303030;/*Временно чтобы было видно текст*/
}

button, input, optgroup, select, textarea{
    font: inherit;
    line-height: 0;
    font-family: none;
    font-size: 0;
    text-transform: none;
}

.title-small{
    font-size: 35px;
    line-height: 1.17;
    font-weight: bold;
}

.titel-wafer{
    font-size: 24px;
    line-height: 1.25;
}

.visibility-hidden{
    display: none;
}

.header-page{
    
}

.header-navigation-item a{
    font: inherit;
    color: #ffffff;
}

.header-navigation-item li{
    list-style: none;
}

.subparagraphs a{
    text-decoration: none;
}

.search-form input,
.header-login-information input{
    font: inherit;
    font-size: 14px;
    line-height: 1.71;
}

.header-login{
    font: inherit;
    font-size: 14px;
    line-height: 1.14;
}

.login-navigation button{
    font: inherit;
    font-size: 18px;
    line-height: 1.33;
}

/*
Описание текстовых параметров для всех элементов:
размер шрифта,
высоту строки,
цвет шрифта,
жирность шрифта,
гарнитура (название шрифта),
другие текстовые параметры, если требуется по макету.
li{
	list-style: none;
}



body > * {
	outline: 1px solid red;
}

body > * > * {
	outline: 1px solid green;
}

body > * > * > * {
	outline: 1px solid blue;
}*/