body{

	background-color: #303030;
	color: white;
}

a, label{
	color: white;
	text-decoration: none;
}

li{
	list-style: none;
}

.visibility-hidden{
	display: none;
}

body > * {
	outline: 1px solid red;
}

body > * > * {
	outline: 1px solid green;
}

body > * > * > * {
	outline: 1px solid blue;
}